<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>MeetupTitle</title>
</head>
<body style="margin:20px;">

<!-- Решение -->
<div id="app">
  <input type="radio" id="one" value="1" v-model="choose">
  <label for="one">1</label>  
  <input type="radio" id="two" value="2" v-model="choose">
  <label for="two">2</label>
  <input type="radio" id="three" value="3" v-model="choose">
  <label for="three">3</label>
  <input type="radio" id="four" value="4" v-model="choose">
  <label for="four">4</label>
  <input type="radio" id="five" value="5" v-model="choose">
  <label for="five">5</label>
  <hr>
  <h3>{{title}}</h3>
</div>

<script type="module" src="script.js"></script>
</body>
</html>
